<h1 mat-dialog-title>Day {{calendarDay.dayName}} {{calendarDay.date.format("DD/MM/YYYY")}}</h1>

<div mat-dialog-content class="timesheet-day-modal-container">
    <form [formGroup]="dayForm" (ngSubmit)="onSubmit()" class="form-container">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Select a day type</mat-label>
            <mat-select formControlName="dayType">
                <mat-option *ngFor="let dayTypeEnum of TimesheetDayWorkType | keyvalue"
                    [value]="dayTypeEnum.value">{{dayTypeEnum.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline"
            *ngIf="dayForm.value['dayType'] === TimesheetDayWorkType.Office || dayForm.value['dayType'] === TimesheetDayWorkType.Remote">
            <mat-label>Permit Hours</mat-label>
            <input type="number" matInput placeholder="Permit hours" formControlName="permitHours">
            <mat-error *ngIf="dayForm.get('permitHours')?.hasError('min')">
                Permit hours must be at least 0.
            </mat-error>
            <mat-error *ngIf="dayForm.get('permitHours')?.hasError('max')">
                Permit hours cannot exceed 4.
            </mat-error>
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="addNewActivity()"
        *ngIf="dayForm.value['dayType'] === TimesheetDayWorkType.Office || dayForm.value['dayType'] === TimesheetDayWorkType.Remote">
        <mat-icon>add</mat-icon>
        Add activity
    </button>
    <form [formGroup]="editActivityForm"
        *ngIf="dayForm.value['dayType'] === TimesheetDayWorkType.Office || dayForm.value['dayType'] === TimesheetDayWorkType.Remote">
        <table mat-table [dataSource]="activitiesTableDataSource">
            <ng-container matColumnDef="companyName">
                <th mat-header-cell *matHeaderCellDef>Company</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="activityUnderEdit != element.activityId">
                        {{element.companyName}}
                    </div>
                    <div *ngIf="activityUnderEdit === element.activityId">
                        <mat-form-field style="margin-top: 1rem;" appearance="outline">
                            <mat-label>Select a company</mat-label>
                            <mat-select formControlName="companyId" (selectionChange)="updateProjectsOfCompany()">
                                <mat-option *ngFor="let company of companies"
                                    [value]="company.id">{{company.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="projectName">
                <th mat-header-cell *matHeaderCellDef>Project</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="activityUnderEdit != element.activityId">
                        {{element.projectName}}
                    </div>
                    <div *ngIf="activityUnderEdit === element.activityId">
                        <mat-form-field style="margin-top: 1rem;" appearance="outline">
                            <mat-label>Select a project</mat-label>
                            <mat-select formControlName="projectId" (selectionChange)="updateActivitiesOfProject()">
                                <mat-option *ngFor="let project of projectsOfCompany"
                                    [value]="project.id">{{project.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="activityName">
                <th mat-header-cell *matHeaderCellDef>Activity</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="activityUnderEdit != element.activityId">
                        {{element.activityName}}
                    </div>
                    <div *ngIf="activityUnderEdit === element.activityId">
                        <mat-form-field style="margin-top: 1rem;" appearance="outline">
                            <mat-label>Select an activity</mat-label>
                            <mat-select formControlName="activityId">
                                <mat-option *ngFor="let activity of activitiesOfProject"
                                    [value]="activity.id">{{activity.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="hours">
                <th mat-header-cell *matHeaderCellDef>Hours</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="activityUnderEdit !== element.activityId">
                        {{element.hours}}
                    </div>
                    <div *ngIf="activityUnderEdit === element.activityId">
                        <mat-form-field style="margin-top: 1rem;" appearance="outline">
                            <input type="number" matInput placeholder="{{element.hours}}" formControlName="hours"
                                #input>
                        </mat-form-field>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef>Notes</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="activityUnderEdit !== element.activityId">
                        {{element.notes}}
                    </div>
                    <div *ngIf="activityUnderEdit === element.activityId">
                        <mat-form-field style="margin-top: 1rem;" appearance="outline">
                            <textarea matInput placeholder="{{element.notes}}" formControlName="notes" #input>
                            </textarea>
                        </mat-form-field>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="actionMenu">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element; let index = index">
                    <mat-icon style="cursor: pointer;" matTooltip="Edit" (click)="startEditActivityRow(element)"
                        *ngIf="activityUnderEdit === null"><mat-icon>edit</mat-icon>
                    </mat-icon>
                    <button mat-icon-button style="cursor: pointer;" matTooltip="Confirm"
                        (click)="confirmEditActivityRow(element, index)" [disabled]="editActivityForm.invalid"
                        *ngIf="activityUnderEdit === element.activityId"><mat-icon>save</mat-icon>
                    </button>
                    <mat-icon style="cursor: pointer;" matTooltip="Cancel" (click)="cancelEditActivityRow(element)"
                        *ngIf="activityUnderEdit === element.activityId"><mat-icon>close</mat-icon>
                    </mat-icon>
                    <mat-icon style="cursor: pointer;" matTooltip="Delete" (click)="deleteActivityRow(element, index)"
                        *ngIf="activityUnderEdit === null"><mat-icon>delete</mat-icon>
                    </mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedActivitiesColumns" class="timesheet-day-header-row">
            </tr>
            <tr mat-row *matRowDef="let row; let index = index; columns: displayedActivitiesColumns;"></tr>
        </table>
    </form>

    <div class="timesheet-error-message" *ngIf="!hoursLessThanNine()">
        The sum of hours cannot be greater than 8.
    </div>
    <div mat-dialog-actions align="end" class="action-buttons">
        <button mat-button (click)="dialogRef.close()">Cancel</button>
        <button mat-raised-button type="submit" [disabled]="dayForm.invalid || !hoursLessThanNine()" color="primary"
            (click)="onSubmit()">
            Confirm
        </button>
    </div>
</div>