@import "colors";

.clickable {
  cursor: pointer;
}

.expenses-page-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 5rem;
}
