<div class="restricted-header-container">
  <div class="logo-container" routerLink="home">
    <img class="only-for-light-theme" src="../../../../assets/images/logo/logo.png" />
    <img class="only-for-dark-theme" src="../../../../assets/images/logo/logo-dark.png" />
  </div>

  <div class="link-menu-container">
    <a class="link-item" routerLink="home">Home</a>
    <a class="link-item" routerLink="company">Company</a>
    <a class="link-item" routerLink="corporate-group">Corporate Group</a>
    <a class="link-item" routerLink="calendar">Calendar</a>
    <a class="link-item" routerLink="timesheet">Time Sheet</a>
    <a class="link-item" routerLink="expenses">Expenses</a>
  </div>

  <div class="widgets-container">
    <!-- <dark-mode-widget></dark-mode-widget> -->
    <notification-widget></notification-widget>
    <user-widget></user-widget>
  </div>
</div>