<div class="restricted-header-container">
  <div class="logo-container" routerLink="home">
    <img class="only-for-light-theme" src="../../../../assets/images/logo/logo.png" />
    <img class="only-for-dark-theme" src="../../../../assets/images/logo/logo-dark.png" />
  </div>

  <div class="link-menu-container">
    <div class="link-item" routerLink="home">Home</div>
    <div class="link-item" routerLink="page1">Page1</div>
    <div class="link-item" routerLink="page2">Page2</div>
    <div class="link-item" routerLink="typography">Typography</div>
    <div class="link-item" routerLink="service">Service</div>
    <div class="link-item" routerLink="pipe">Pipe</div>
  </div>

  <div class="widgets-container">
    <!-- <dark-mode-widget></dark-mode-widget> -->
    <user-widget></user-widget>
  </div>
</div>