<div class="timesheet-page-container page-with-padding">
  <ng-container>
    <div class="timesheet-header">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Select a year</mat-label>
        <mat-select [(value)]="selectedYear">
          <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Select a month</mat-label>
        <mat-select [(value)]="selectedMonth">
          <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="clickable primary-button" (click)="loadData()"
        [disabled]="selectedMonth === null || selectedYear === null">
        <div style="display: flex; flex-direction: row; align-items: center; gap: 0.5rem; margin: 0.5rem;">
          <mat-icon>folder_open</mat-icon>
          Open
        </div>
      </button>
    </div>
    <mat-progress-bar mode="indeterminate" color="primary" *ngIf="loading"></mat-progress-bar>
    <div class="timesheet-header-days" *ngIf="!loading && openTimesheet">
      <!-- <div *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']">
        {{day}}
      </div> -->
    </div>
    <div class="timesheet-grid" *ngIf="!loading && openTimesheet">
      <div *ngFor="let day of calendarDays" class="timesheet-day" [ngClass]="{'timesheet-disabled-day': day.isWeekend}">
        <div class="timesheet-day-header">
          <div class="timesheet-day-header-label">
            {{day.dayName}}
            {{day.dayNumber}}
          </div>
          <div class="timesheet-day-header-icon">
            REMOTE
          </div>
        </div>
        <div class="timesheet-day-body">
          <div class="timesheet-day-body-content">
            <div class="timesheet-day-body-content-label">
              Working
            </div>
            <div class="timesheet-day-body-content-value">
              5
            </div>
          </div>
          <div class="timesheet-day-body-content">
            <div class="timesheet-day-body-content-label">
              Permit
            </div>
            <div class="timesheet-day-body-content-value">
              3
            </div>
          </div>

          <div class="timesheet-day-body-content">
            <div class="timesheet-day-body-content-label">
              Projects
            </div>
            <div class="timesheet-day-body-content-value">
              1
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>