@import "colors";

.clickable {
  cursor: pointer;
}

.admin-page-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 5rem;

  .admin-page-header {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0rem 2rem 0rem 2rem;
  }
}
.overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 0rem 10rem 0rem 10rem;

  .overview-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5rem;
    .overview-item-title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .overview-item-value {
      font-size: 1.5rem;
    }
  }
}

.admin-section-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .mat-mdc-form-field {
    font-size: 14px;
  }

  .admin-filter-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1rem;

    .admin-filter-label {
      color: $themePrimary;
      font-size: 1rem;
    }
  }

  .admin-header-row {
    color: $themePrimary;
    font-weight: bold;
    font-size: 1rem;
  }
}

.constraint > span {
  display: inline-flex;
  align-items: center;
}

.constraint-respected {
  color: $green400;
}

.constraint-not-respected {
  opacity: 0.5;
}

.constraints-list {
  list-style-type: none;
  padding-left: 32px;
}

.admin-internal-menu {
  min-width: 30rem !important;
  max-width: 40rem !important;
}

.admin-internal-menu-form-container {
  margin-top: 0.5;
  padding: 0.125rem 1rem 0.125rem 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
