@import "colors";

.clickable {
  cursor: pointer;
}

.company-page-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 2rem;
}

.company-header {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0rem 5rem 0rem 5rem;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0rem 5rem 0rem 5rem;

  .mat-mdc-form-field {
    font-size: 14px;
  }

  .users-filter-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1rem;

    .users-filter-label {
      color: $themePrimary;
      font-size: 1rem;
    }
  }

  .users-header-row {
    color: $themePrimary;
    font-weight: bold;
    font-size: 1rem;
  }
}

.change-job-title-form-container {
  margin-top: 0.5;
  padding: 0.125rem 1rem 0.125rem 1rem;
  display: flex;
  flex-direction: column;
}
