.section-container {
  margin: 0rem 2rem 0rem 2rem;
  padding: 2rem;
  /* border: 0.01rem solid $granata;
  border-radius: 8px; */
}

.page-separator {
  border: none;
  height: 0.1rem;
  background-color: $granata;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 15rem;
  margin-left: 15rem;
}
