<div class="maintenance-page-container">
  <img
    class="maintenance-web"
    src="./../../../../assets/images/maintenance/web.svg"
  />
  <div class="maintenance-card-container">
    <div class="maintenance-header">
      <img
        class="maintenance-logo"
        src="../../../../assets/images/logo/logo.svg"
      />
    </div>

    <div class="maintenance-welcome-message">
      <div class="h1-title">Maintenance Mode</div>
      <br />
      <br />
      <p>
        Sorry for the inconvenience, but we&rsquo;re currently engaged in
        maintenance tasks.
      </p>
      <p>
        If you have any inquiries, feel free to get
        <a href="mailto:#">in touch</a>, otherwise we&rsquo;ll be back online
        shortly!
      </p>
      <br />
      <p>&mdash; ML cube Platform Team</p>
    </div>
  </div>
</div>
